body {
    --base-color: #243169;
    --mantle-color: #4666a3;
    --text-color-1: #6a93be;
    --text-color-2: #98c5de;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--base-color);
    overflow-x: hidden;
}
#TitleContainer, #StatusContainer, #Title, #Status {
    display: flex;
    justify-content: center;
}

#Title {
    background-image: url("images/mantle.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 95vw;
    aspect-ratio: 1000/350;
    border-radius: 5vw;
    margin-bottom: 20px;
}

#Title span {
    color: var(--text-color-1);
    font-size: 8vw;
}

#Status {
    background-color: var(--mantle-color);
    color: var(--text-color-2);
    width: 90vw;
    border-radius: 3.5vw;
}

#Status span {
    font-size: 30px;
    margin: 1.5vw;
}

#SignHolder {
    transform-origin: bottom right;
    animation: rotation 4s infinite ease-in-out;
    width: 250px;
    position: fixed;
    bottom: -7vh;
    right: 0;
}

@keyframes rotation {
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#LinkContainer {
    margin-top: 20px;
    padding-left: 4vw;
    padding-bottom: 30px;
    overflow: hidden;
    white-space: no-wrap;
}

#LinkContainer li {
    list-style: none;
}

#LinkContainer li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    color: var(--text-color-1);
    transition: transform 0.3s ease, color 0.3s ease;
}

#LinkContainer li a:hover {
    font-size: 40px;
    transform: scale(1.2); /* Scales the button up */
    color: var(--text-color-2);
}