body {
    --base-color: #243169;
    --mantle-color: #4666a3;
    --text-color-1: #6a93be;
    --text-color-2: #98c5de;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--base-color);
    overflow-x: hidden;
}